.btn {
	border: none;
	padding: 12px 18px;
	border-radius: 12px;
	cursor: pointer;
	text-decoration: none;
	font-size: 0.95em;
	font-family: inherit;
	height: 50px;
	width: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.3s;
	background: linear-gradient(to bottom, #153759 0%, #428c97 51%, #121921 100%);
	text-shadow: 2px 2px 4px #000000a1;
	color: white;
	font-weight: 200;
	grid-area: btn;
	align-self: center;
	justify-self: center;
	margin-left: 10px;
	font-weight: 300;
}

.btn:active {
	transform: scale(.98);
	box-shadow: 0 0 15px rgb(238, 238, 238);
	border: none;
}

.btn:hover {
	opacity: 0.9;
}