.card {
	background: hsl(0deg 0% 13% / 91%);
	position: absolute;
	transform: translate(-50%, -50%);
	margin: 0;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	margin-bottom: -10%;
	border-radius: 8px;
	width: 100%;
	width: 600px;
	max-width: 430px;
	max-height: 90%;
	padding: 24px;
	overflow: auto;
	box-shadow: 2px 2px 4px #000000;
	display: grid;
	grid-template-columns: 1fr 20px;
	grid-template-areas:
		"header nav"
		"quote quote"
		"form form"
		"warn warn"
		"task task"
	;
}

.warning {
	margin: 1em;
	grid-area: warn;
	display: flex;
	justify-content: center;
}